:root {
    //----PADDING----
    --default-padding: 8px;
    --top-down-padding: 16px;
    --top-down-secondary-padding: 32px;
    --right-left-padding: 12px;

    //----MARGIN-----
    --top-margin: 50px;

    //----SCROLLBAR----
    --scrollbar-max-height: 400px;
    --scrollbar-width: 5px;
    --scrollbar-color: var(--main-color);

    //----RADIUS----
    --primary-border-radius: 8px;

    //----Z-INDEX----
    --z-index-main: 4;

    //----HEIGHT----
    --height-navbar: 40px;

    //----WIDTH----
    --block-width: 700px;
}
