.icon {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
    width: 20px;
    height: 20px;
    right: 10px;
    fill: var(--default-color);
    transition: all 0.3s;
    &--translate {
        transform: rotateX(180deg) translateY(50%);
    }
}

.container {
    width: 100%;
}

.wrapper {
    width: 100%;
    position: relative;
}

.button {
    width: 100%;
    text-align: left;
    padding: 4px;
    outline: none;
    border: none;
    border-radius: var(--main-border-radius);
    background-color: var(--primary-color);

    transition: background-color 0.3s;

    &:hover {
        background-color: var(--secondary-color);
    }
}

.items {
    width: 100%;
    position: absolute;
    z-index: var(--z-index-main);
    top: 100%;
}
