.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Changed from center to flex-start
    align-items: center;

    width: 100%;
    max-width: 800px;
    margin: auto;

    padding: var(--top-down-secondary-padding) var(--right-left-padding);

    border: 1px solid;
    border-radius: var(--main-border-radius);

    background-color: var(--bg-secondary-color);
}
