.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    max-width: var(--block-width);
    margin: auto;
    margin-top: var(--top-margin);

    padding: var(--top-down-secondary-padding) var(--right-left-padding);

    border-radius: var(--primary-border-radius);

    background: var(--default-color);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
